* {
  box-sizing: border-box;
}

.displey {
  display: none;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
}

.display-flex-class {
  min-height: 100vh;
  display: flex;
}

.bg-container {
  min-height: 100vh;

  display: flex;
}

.sidebar-class {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 70px;
  padding: 10px;
  justify-content: start;
  align-items: center;
  background-color: #726ceb;
}

.icon-class {
  color: white;
  font-size: 35px;
  margin-top: 40px;
}

.bg-container-right {
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.bg-container-row {
  display: flex;
}

.product-heading {
  font-family: Arial;
  color: #726ceb;
  font-weight: 500;
}

.button-class {
  height: 40px;
  width: 110px;
  border-radius: 8px;
  background-color: #726ceb;
  border-width: 0px;
  color: white;
  cursor: pointer;
  outline: none;
  margin-left: 580px;
}

.button-class2 {
  height: 30px;
  width: 110px;
  border-radius: 8px;
  background-color: #726ceb;
  border-width: 0px;
  color: white;
  cursor: pointer;
  outline: none;
}

.display-rows {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.search-bar {
  width: 700px;
}
.create-heading {
  font-family: "Arial";
  font-size: 14px;
  margin-top: 20px;
  margin-left: 40px;
  color: #726ceb;
  margin-bottom: 0px;
}

.button-row {
  display: flex;
}

.icons-class {
  font-size: 18px;
  color: #726ceb;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 5px;
}

.small-class {
  font-size: 12px;
  color: #726ceb;
}

.small-class1 {
  font-size: 12px;
  color: #726ceb;
  margin-left: 5px;
}

.display-rows2 {
  display: flex;
  flex-direction: row;
}

.product-list2 {
  display: none;
}

.tabs-class {
  display: flex;
  position: relative;
}

.btn-box {
  display: flex;
  border-bottom: 1px solid #ccc;
  width: 950px;
}

.button-class1 {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 50px;
  margin-right: 50px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #726ceb;
  font-family: Arial;
  color: #726ceb;
}

.button-class2 {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 50px;
  margin-right: 50px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  font-family: Arial;
  color: black;
}

.icon-size {
  margin-left: 400px;
  font-size: 250px;
  color: #726ceb;
  margin-top: 300px;
}
label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}
th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 0px;
}
.product-list {
  color: #726ceb;
}
.tr-bottom-class {
  border-width: 7px;
}
.icon-list {
  color: #726ceb;
  cursor: pointer;
  margin-right: 9px;
}
.icon-images {
  font-size: 250px;
  color: #726ceb;
  margin-top: 120px;
  margin-right: 500px;
}
.icons1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-class2 {
  display: none;
}
.icons {
  display: none;
}
.product-list3 {
  display: block;
}
